<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>10-GITHub.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E10FD81F1CAE46AB00C0AF99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E10FD8381CAE46AB00C0AF99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E10FD8431CAE46AC00C0AF99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
